{% extends "base.html" %}
{% block title %} {{post.title}} {% endblock %}
{% block headline %} {{post.title}} {% endblock %}
{% block main %} 
<div>{{post.content}}</div>

<form>
    <button type="submit button" formaction="/posts/{{post.id}}/delete" formmethod="POST" class="btn btn-danger" >Delete Blog Post</button>
    
        <button formaction="/posts/{{post.id}}/edit" formmethod="GET">Edit Blog</button>
    <button formaction="/{{post.user_id}}" formmethod="GET">Cancel</button>
</form> 

<h5>Tags: {% for tag in tags %}<a href="/tags/{{tag.id}}"><button>{{tag.name}}</button></a>{% endfor %}</h3> 





{% endblock %}
