{% extends 'base.html' %}


<title >{% block title %} {{user.name}} {% endblock %}</title>
<body>

  
    {% block main %}
        <div>
            <img src="{{user.image_url}}" alt="User Image">
             <h2>{{user.first_name}}  {{user.last_name}}</h2>
        </div>
            
        <form action="/user/{{user.id}}/delete" method="post"><button type="submit">Delete</button></form>  
        <a href="/user/{{user.id}}/edit"><button>Update User</button></a>
    {% endblock %}

    {% block blogs %}
    <ul>
        {% for post in posts %}
        <li> {{post.title}}</li>
        {% endfor %}
    </ul>

    {% endblock %}

    








