{% extends 'base.html' %}


<title >{% block title %} {{user.name}} {% endblock %}</title>

  
    {% block main %}

        <div>
            <img src="{{user.image_url}}" alt="User Image">
             <h2>{{user.first_name}}  {{user.last_name}}</h2>
        </div>

                <form>
                    <button formaction="/user/{{user.id}}/delete" formmethod="post" class="btn btn-danger">Delete User</button> 
                    <!-- <button formaction="/user/{{user.id}}/edit">Update User</button> -->
                    <button formaction="/user/{{user.id}}/edit" formmethod="get">Update User</button>
                </form>  




    
    {% endblock %}

    {% block blogs %}
    <ul>
        {% for post in posts %}
        <a href="/posts/{{post.id}}"><li>{{post.title}}</li></a>
        {% endfor %}
    </ul>
    <a href="/users/{{user.id}}/posts/new">
        <button type="button" class="btn btn-primary">Add New Blog Post</button>
    </a>

    {% endblock %}

    








