{% extends 'base.html' %}

{% block headline %} Updating User: {{user.first_name}} {{user.last_name}} {% endblock %}


{% block main %}
<form action="/user/{{user.id}}/edit" method="POST" >
    <label for="firstname"></label>
    <input type="text" name = "firstname" placeholder="{{user.first_name}}">
    <br>
    <br>
    <label for="lastname"></label>
    <input type="text" name = "lastname" placeholder="{{user.last_name}}">
    <br>
    <br>
    <label for="image_url"></label>
    <input type="text" name = "image" placeholder="{{user.image_url}}">
    <br>
    <br>

    <button> Update User</button>
</form>
<a href="/{{user.id}}"><button> Cancel</button></a>

{% endblock %}

