{% extends 'base.html' %}

{% block title %} Edit Tag {% endblock %}


{% block headline %} <h1>Edit Tag</h1> {% endblock %}


{% block main %}
<form  >
    <label for="name"> Name</label>
    <input type="text" name = "name" placeholder="{{tag.name}}" value="{{tag.name}}">
    <br>
    <br>
    <button formaction="/tags/{{tag.id}}/edit" formmethod="post">Submit</button>
    <button formaction="/tags" formmethod="get">Cancel</button>

</form>
<h2>Tags</h2>
{% for tag in tags %}
<label class="container" style="display: block;">
    <input type="checkbox" name="{{tag.name}}">  {{tag.name}}
    <span class="checkmark"></span>
  </label>
  {% endfor %}

{% endblock %}