{% extends 'base.html' %}

{% block title %} Write a New Blog Post {% endblock %}


{% block headline %} <h1>Fill in the Form to Add a New Blog Post {{user}}</h1> {% endblock %}


{% block main %}
<form action="/users/{{user}}/posts/new" method="POST" >
    <label for="title"> Title</label>
    <input type="text" name = "title" placeholder="Blog Post Title" >
    <br>
    <br>
    <label for="content" class ="submissionfield"> Content</label>
    <input type="text" name = "content" placeholder="Put you blog here">
    <br>
    <br>
    <button>Add Blog Post</button>
</form>
<a href="/{{user}}">
    <button>Cancel</button>
</a>
{% endblock %}

