{% extends 'base.html' %}

{% block title %} List of Tags {% endblock %}

{% block headline %} <h1> Tags</h1> {% endblock %}

{% block main %}
<ul>
    {% for tag in tags %}
    <li>
       <a href="/tags/{{tag.id}}">{{tag.name}}</a>
        <form>
            <button formaction="/tags/{{tag.id}}/delete" formmethod="post" class="btn btn-danger btn-sm">Delete Tag</button> 
            <button formaction="/tags/{{tag.id}}/edit" formmethod="get" class="btn-sm">Edit Tag</button>
        </form>  
    </li>
    {% endfor %}
</ul>
<br>
<form action="">
    <a href="/tags/new"><button type="button" class="btn btn-primary">Add Tag</button></a>
</form>

{% endblock %}